!!!
%html
  %head
  

  %body
    .flash-box 
      .notice 新しいグループが作成されました。
    .wrapper
      .chat-side 
        .slide-header 
          .slide-header__box test-user
        .groups
      .chat-main
      .main-header
        .messages
      .form               