!!!
%html
  %head
  

  %body
    .wrapper
      .chat-side 
        .side-header 
          .side-header__box 
            test-user 
            .side-header__box-icon
              =fa_icon "edit", class: 'icon'
              =fa_icon "cog", class: 'icon'
        .groups
          .group__name test-group
          .group__text さようなら
          .group__name sample-group
          .group__text hello
          .group__name example
          .group__text 〜
      .chat-main
        .main-header
          .main-header__text
            text-group
          .btn-edit
            %a{href:  "#"} Edit
        .messages
          .message
            .message-user__name
              test-user
            .message__date
              2019/10/01(Tue) 22:00
            .message-text
              こんにちは!
            .message-user__name
              test-user
            .message__date
              2019/10/02(Wed) 22:00
            .message-text
              さようなら
        .form  
          .type
            %input{name: "send", placeholder: "type a message", type: "send"}/
          .btn-send
            %input{type: "submit", value: "send"}/   