@import "./reset";
@import "./variable";
@import "font-awesome";

body{
  .wrapper{
    height: 100vh;
    width: 100vw;
    .chat-side{
      width: 300px;
      float: left;
      .side-header{
        background-color: #253141;
        height: 82px;
        display: flex;
        align-items: center;
        .side-header__box{
          font-weight: bold;
          font-size: 16px;
          color: #ffffff;
          padding-left: 20px;
          display: flex;
          .side-header__box-icon{
            display: flex;
            margin-left: 130px;
            align-items: center;
            .icon{
              color: white;
              padding-left: 10px;
            }
          }
        }
      }
      .groups{
        background-color: #2f3e51;
        height: calc(100vh - 82px);
        padding: 0 20px;
          .group__name{
            font-size: 15px;
            font-weight: bold;
            color: #ffffff;
            padding-top: 20px;
          }
          .group__text{
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
            padding:5px 0 0 20px;
          }
        }
      }
    .chat-main{
      width: calc(100% - 300px);
      background-color: #fafafa;
      height: 100vh;
      float: right;
   }
  }
}

