@import "reset";
@import "variable";
@import "./config/colors";
@import "user";
@import "flash";
@import "font-awesome";

body{
  .wrapper{
    @include area(100vh, 100vw);
    .chat-side{
      width: 300px;
      float: $float;
      .side-header{
        background-color: #253141;
        height: 82px;
        display: $display;
        align-items: center;
        &__box{
          font-weight: bold;
          @include font($side-color,16px);
          padding-left: 20px;
          display: $display;
          &-icon{
            display: $display;
            margin-left: 130px;
            align-items: center;
          .list{
              list-style: none;
              .icon{
                color: white;
                padding-left: 10px;
              }
            }
          }
        }
      }
      .groups{
        background-color: #2f3e51;
        height: calc(100vh - 82px);
        @include padding(0 20px);
        .group{
          &__name{
            @include font($side-color, 15px);
            font-weight: $font-weight;
            padding-top: 20px;
          }
          &__text{
            @include font($side-color, 11px);
            font-weight: $font-weight;
            @include padding(5px 0 0 20px);
          }
          }
        }
        }
    .chat-main{
      @include area(100vh, calc(100% - 300px));
      background-color: #fafafa;
      float: right;
      .main-header{
        height: 82px;
        border-bottom: solid #eeeeee;
        display: $display;
        &__text{
          @include padding(35px 0 15px 40px);
          @include font(#333333, 20px)
        }
        .btn-edit{
          height: 40px;
          border: 1px solid #38AEF0;
          display: $display;
          margin: 20px 40px 0 auto;
          a{
            color: #38AEF0;
            background-color: #fafafa;
            padding: 0 20px;
            text-decoration: none;
            text-align: center;
            line-height: 40px;
          }
        }
      }
      .messages{
        .message{
          padding-top: 6px;
          &__user-name{
            font-weight: $font-weight;
            @include font(#434A54, 16px);
            float: left;
            @include padding(46px 0 10px 40px);
        }
          &__date{
          @include font(#434A54, 12px);
          float: left;
          @include padding(50px 0 0 10px);
        }
          &__text{
          clear: both;
          @include font(#434A54, 14px);
          padding-left: 40px;
        }
       }
      }
    .form{
      bottom: 0;
      position: absolute;
      background-color: lightgray;
      width: calc(100% - 300px);
      box-sizing: border-box;
      display: $display;
      @include padding(20px 40px);
      .message__box{
        position: relative;
        width: 100%;
        margin-right: 15px;
      }
        input[type = "text"]{
        @include area(50px, 100%);
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
      }
        input::placeholder {
        color: #434A54;
      }
      .fa{
        position: absolute;
        right: 0;
        bottom: 17px;
        font-size: larger;
        }
        input[type = "submit"]{
        background-color: #38AEF0;
        color: #fafafa;
        @include area(50px, 120px);
        margin-left: 15px;
      }
    }
    }
  }
}
